


@font-face { font-family: "UnitSlabOffcPro-Ita"; src: url("../fonts/UnitSlabOffcPro-Ita.eot"); src: url("../fonts/UnitSlabOffcPro-Ita.eot?#iefix") format("embedded-opentype"), url("../fonts/UnitSlabOffcPro-Ita.woff2") format("woff2"), url("../fonts/UnitSlabOffcPro-Ita.woff") format("woff"), url("../fonts/UnitSlabOffcPro-Ita.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "UnitSlabOffcPro-MediumIta"; src: url("../fonts/UnitSlabOffcPro-MediumIta.eot"); src: url("../fonts/UnitSlabOffcPro-MediumIta.eot?#iefix") format("embedded-opentype"), url("../fonts/UnitSlabOffcPro-MediumIta.woff2") format("woff2"), url("../fonts/UnitSlabOffcPro-MediumIta.woff") format("woff"), url("../fonts/UnitSlabOffcPro-MediumIta.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "UnitSlabOffcPro-BoldIta"; src: url("../fonts/UnitSlabOffcPro-BoldIta.eot"); src: url("../fonts/UnitSlabOffcPro-BoldIta.eot?#iefix") format("embedded-opentype"), url("../fonts/UnitSlabOffcPro-BoldIta.woff2") format("woff2"), url("../fonts/UnitSlabOffcPro-BoldIta.woff") format("woff"), url("../fonts/UnitSlabOffcPro-BoldIta.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova-Regular"; src: url("../fonts/ProximaNova-Regular.eot"); src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova-Semibold"; src: url("../fonts/ProximaNova-Semibold.eot"); src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova-Bold"; src: url("../fonts/ProximaNova-Bold.eot"); src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.navbar-fixed-top {
	position: absolute;
}
nav ul.navbar-nav>li>a {
    font-family: "UnitSlabOffcPro", Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    position: relative;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -webkit-transition: color .3s;
    transition: color .3s;
}
nav ul.nav>li>a:hover, nav ul.nav>li>a.nav-active {
    background: transparent;
    border-top: 0px solid #444;
    line-height: 28px;
	color: #ff0061;
}
.navbar-brand {
	height: auto;
}
.navbar-fixed-top .navbar-collapse {
    max-height: none;
}
.navbar-header a{
    font-family: "UnitSlabOffcPro-Medium",Arial,sans-serif;
    font-size: 21px;
    color: #fff;
}
.navbar-header a:hover {
	text-decoration: none;
}
.navbar-toggle {
    background-color: #fff;
    border: 1px solid #fff;
    margin-top: 32px;
    margin-right: 15px;
    margin-bottom: 32px;
}
.navbar-toggle .icon-bar {
    background-color: #0060ae;
}
.collapsing {
    background-color: #fff;
	color: #0060ae;
}
.navbar-collapse.in {
    overflow-y: auto;
    background-color: #fff;
}
.navbar-collapse.in ul.navbar-nav>li>a {
	color: #0060ae;
}
p {
    font-family: "Unit-Regular",Arial,sans-serif;
}
h1, h2, h3 {
	font-family: "UnitSlabOffcPro-Medium",Arial,sans-serif;
}
.navbar-brand>img {
    display: inline-block;
}
div.tab button {
	font-family: "UnitSlabOffcPro-Bold",Arial,sans-serif;
}
#video-title {
	font-size: 124px;
}
#menu-abs a:hover{
    transition: background .3s;
    -webkit-transform: scale(.93);
    -ms-transform: scale(.93);
    transform: scale(.93);
}
.op-icon {
	display: inline-block;
    background: url(../img/icons-s49dd1ca0fb.png) 0 -981px no-repeat;
    width: 80px;
    height: 80px;
}
#protection-player-container {
    overflow: hidden;
}





.tab-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#flipcards .card .back{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}
#flipcards .card .back b{
    font-size: 28px;
	text-transform: uppercase;
}
div.tab button.tablinks {
    background-color: transparent!important;
}
.color-1, div.tab button.color-1.active, #headingOne  a{
	background-color: #b9bbbe!important;
}
.color-2, div.tab button.color-2.active, #headingTwo  a{
	background-color: #e8666a!important
}
.color-3, div.tab button.color-3.active, #headingThree  a {
	background-color: #52aec1!important;
}
.color-4, div.tab button.color-4.active, #headingFour  a {
	background-color: #41b57c!important;
}
.color-5, div.tab button.color-5.active, #headingFive  a {
	background-color: #f1bb39!important;
}
.color-6, div.tab button.color-6.active, #headingSix  a {
	background-color: #bb6185!important;
}
.color-7, div.tab button.color-7.active, #headingSeven  a {
	background-color: #3f79a9!important;
}
.color-8, div.tab button.color-8.active, #headingEight  a {
	background-color: #55c7ae!important;
}
.tabcontent.color-1 {
	background-image: url(../img/b-rise.png);
	background-color: #b9bbbe;
	background-size: cover;
}
.tabcontent.color-2 {
	background-image: url(../img/b-become-2.png);
	background-color: #efefef!important;
	background-size: cover;
}
.tabcontent.color-3 {
	background-image: url(../img/b-social-2.png);
	background-color: #efefef!important;
	background-size: cover;
}
.tabcontent.color-4 {
	background-image: url(../img/b-service.png);
	background-color: #efefef!important;
	background-size: cover;
}
.tabcontent.color-5 {
	background-image: url(../img/b-more-2.png);
	background-color: #fff!important;
	background-size: cover;
}
.tabcontent.color-6 {
	background-image: url(../img/b-more.png);
	background-color: #efefef!important;
	background-size: cover;
}
.tabcontent.color-7 {
	background-image: url(../img/b-command.png);
	background-color: #efefef!important;
	background-size: cover;
}
.tabcontent.color-8 {
	background-image: url(../img/b-return.png);
	background-color: #efefef!important;
	background-size: cover;
}
.tabcontent {
	padding: 0px 30px;
	text-align: center;
	border-radius: 0px 10px 10px 0px;
}
.tabcontent p{
	font-size: 26px;
}
.tabcontent h3 {
	font-size: 40px;
}

#slider-10 .slick-list, #slider-10 .slick-track {
	height: 600px;
}
#slider-10 .slick-initialized .slick-slide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}