body {
    max-width: 1920px;
    margin: 0 auto;
}
nav {
    background-color: transparent;
    height: 68px;
}
nav li {
    padding-right: 15px;
}
nav ul.navbar-nav>li>a {
    line-height: 34px;
    height: 68px;
    text-align: center;
    color: black;
}
nav ul.nav>li>a:hover, nav ul.nav>li>a.nav-active {
    background: white;
    border-top: 3px solid #444;
    line-height: 28px;
}
nav ul.nav>li>a:focus {
    background: transparent;
    outline: none;
}

section {
	position: relative;
	margin: 0px auto;
}
p {
	font-size: 20px;
}
h1 {
    font-size: 50px;
    display: inline-block;
    text-align: center;
    position: relative;
	color: #0060b2;
	font-weight: bold;
}
h1:after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #0060b2;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.zindex2 {
	z-index: 2;
}
.mt-120 {
	margin-top: 60px;
	margin-bottom: 60px;
}
.pt-120 {
	padding-top: 60px;
	padding-bottom: 60px;
}
/*1 section*/
#player-container {
    overflow: hidden;
    pointer-events: none;
}

#video-title {
    position: absolute;
    top: 360px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 84px;
    color: #fff;
    text-shadow: 1.5px 2.6px 136px rgba(0,0,0,.22);
    font-family: "UnitSlabOffcPro-Bold",Arial,sans-serif;
    line-height: 134px;
    letter-spacing: -.01em;
    margin-top: -112px;
}

/*1 section /end*/

/*2 section*/
#topblock {
    padding: 100px 0;
    background: url("../img/back-header.png") top center no-repeat;
}
#topblock img{
	margin-top: 10%;
}
.text-blue {
    color: #0060ae;
}

#topblock-header {
    color: #636a70;
    font-size: 66px;
}

#menu-abs a {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    width: 41px;
    height: 41px;
    position: absolute;
}
#menu-abs-button-1 {
    background-image: url("../img/menu-abs/ic1.png");
    left: 2%;
    bottom: 10%;
}
#menu-abs-button-2 {
    background-image: url("../img/menu-abs/ic2.png");
    left: 18%;
    bottom: 0;
}
#menu-abs-button-3 {
    background-image: url("../img/menu-abs/ic3.png");
    left: 36%;
    bottom: -6%;
}
#menu-abs-button-4 {
    background-image: url("../img/menu-abs/ic4.png");
    left: 56%;
    bottom: -8%;
}
#topblock-button {
    color: white;
    background-color: #0060ae;
    text-transform: capitalize;
    padding: 13px 29px;
    width: 88px;
    height: 17px;
    border-radius: 4px;
}
#topblock-button:hover {
    text-decoration: none;
}
/*2 section /end*/

/*3 section*/
#flipcards h2, small{
    font-size: 60px;
    line-height: 72px;
}
#flipcards h1 {
    font-weight: bold;
}
#flipcards .flip-container {
    padding: 0 !important;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: color 0.3s, background-color 0.3s;
}
#flipcards .flip-container:hover {
    color: white;
    background-color: #f41b22;
}
#flipcards .card {
    height: 800px;
}
#flipcards .card>div {
    padding: 30px;
}
#flipcards .flip-container:first-child, #flipcards .flip-container:last-child {
    background-color: #eef0f1;
}
#flipcards .flip-container:first-child:hover {
    background-color: #b9bbbe;
}
#flipcards .flip-container:last-child:hover {
    background-color: #00d1fe;
}

/*3 section /end*/

/*4 section*/
#benefits-tabs {
    overflow: hidden;
    position: relative;
    width: 100%;
}
/*4 section/end*/

/*'brave new' section*/
#brave-new {
    background: url("../img/operation-bg.jpg") center center no-repeat;
    min-height: 800px;
}
#brave-new h1{
    font-size: 86px;
    line-height: 110px;
	color: #333;
}
#brave-new h1:after{
    display: none;
}
#brave-new img {
    margin-top: 51px;
    width: 764px;
    height: auto;
}

/*'brave new' section /end*/

/*5 section*/
#analitics {
	position: relative;
    background: url("../img/horizontal-scroll/analytics-bg.png") no-repeat center center;
	z-index: 2;
}
#analitics-wrap {
    height: 565px;
    width: 775px;
    overflow: hidden;
    padding-top: 49px;
    padding-bottom: 80px;
}
#analitics-wrap img {
    height: 100%;
}
/*5 section /end*/

/*7 section*/
#protection-player-container {
    margin-bottom: 150px;
}
/*7 section /end*/

/*8 section*/
.technology-slide {
    padding: 50px 40px;
    max-width: 1280px;
    margin: 0 auto;
}
.technology-text {
    line-height: 32px;
    font-size: 21px;
    display: inline-block;
}
.technology-text p:first-child {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 39px;
}
.technology-text h2 {
    margin-bottom: 44px;
    font-size: 44px;
}

.technology-img-pointer {
    display: block;
    margin-top: 55px;
}
/*.technology-img-pointer:before {
    position: absolute;
    right: 0;
    content: "";
    border-bottom: 1px solid #000;
    width: 40px;
}*/
.display-info {
    border-left: 1px solid black;
    position: relative;
    padding-left: 15px;
    height: 150px;
}
/*8 section/end*/

/*9 section*/
#inside-sensor {
    background: url("../img/inside/displays.png") center right no-repeat;
    background-size: contain;
    color: #747474;
    height: 533px;
}
#inside-sensor>div {
    font-size: 20px;
    margin-bottom: 40px;
}
#inside-sensor b {
    color: black;
}
#inside-hardware {
    background: url("../img/inside/hardware.png") center right no-repeat;
    background-size: contain;
    color: #747474;
    margin-top: 30px;
    height: 533px;
}
#inside-hardware li {
    border-top: 1px solid #ebebeb;
}
.list-header {
    font-size: 22px;
}
#inside-hardware>div {
    border-bottom: 1px solid #ebebeb;
    width: 360px;
}
/*9 section /end*/

/*10 section*/
#slider-10 {
    min-height: 600px;
    background: url("../img/slider10/ten-background.jpg") center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slick-slider *:focus {
    outline: none;
}
.fading {
    background-color: rgba(0,0,0,0.75);
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
#slider-10-container {
    height: 100%;
    width: 100%;
    position: absolute;
}
.slider-10-content {
    color: #dfdfdf;
    width: 360px;
    margin: auto;
    line-height: 1.2;
}
.slider-10-content h1 {
    font-size: 21px;
}
.slider-10-content li {
    margin-top: 10px;
}
.slider-10-content b {
    font-weight: bold;
    color: #E0FC05;
}
#slider-10-performance {
    font-size: 16px;
    line-height: 1.2;
}
#slider-10-income {
    font-size: 8px;
}
#slider-10-income .column {
    display: inline-block;
    width: 30%;
    margin-right: 4%;
    margin-top: 20px;
    border-left: 1px solid #dfdfdf;
    padding-left: 4px;
}
#slider-10-income .column b{
    font-size: 10px;
}
#slider-10-income .column:last-child {
    margin-right: 0;
}
#slider-10-income .column p {
    margin-bottom: 0;
}
#slider-10-income .text-big {
    font-size: 29px;
    font-weight: bold;
}

.slick-arrow {
    position: absolute;
    height: 86px;
    width: 86px;
    top: calc(50% - 43px);
    z-index: 999;
   /* background: url("../img/slider10/dark-arrow.svg"), -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); !* FF3.6-15 *!
    background: url("../img/slider10/dark-arrow.svg"), -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); !* Chrome10-25,Safari5.1-6 *!
    background: url("../img/slider10/dark-arrow.svg"), radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    background: url("../img/slider10/dark-arrow.svg"), -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 14%, rgba(0,0,0,0) 72%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: url("../img/slider10/dark-arrow.svg"), -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 14%,rgba(0,0,0,0) 72%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: url("../img/slider10/dark-arrow.svg"), radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 14%,rgba(0,0,0,0) 72%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-position: center;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
    border: none;
}
#slider-10 .slick-arrow {
    background: url("../img/slider10/dark-arrow.svg") center no-repeat;
}

#restaurants-slider .slick-arrow {
    background: url("../img/slider10/arrow2.png"), url("../img/slider10/slider-arrow-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.slick-prev {
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);

}
.slick-next {
    right: 0;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

/*10 section /end*/

/*11 section*/
#usecases .card {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}
#usecases .flip-container {
    margin: 0 auto;
}
.usecases-img-container {
    height: 406px;
    width: 100%;
    overflow: hidden;
}
.usecases-img-container img {
    width: 100%;
    height: 100%;
}
#usecases .card {
    background-color: #eaeaea;
}
#usecases .back {
    background-color: rgb(59, 63, 66);
    color: white;
    padding: 20px;
}
#usecases .back p {
    margin-top: 230px;
    text-align: center;
}
#usecases-1, #usecases-2{
    margin-bottom: 30px;
    margin-right: 20px;
    height: 500px;
    width: 548px;
	float: left;
    cursor: pointer;
}
#usecases-3, #usecases-4 {
    height: 500px;
    width: 548px;
    float: left;
    cursor: pointer;
}
/*#usecases-1 {
    margin-right: 20px;
}
#usecases-2 {
    width: 473px;
}
#usecases-3 {
    width: 473px;
}
#usecases-4 {
    width: 642px;
}*/
#usecases h3 {
    text-align: center;
    font-size: 42px;
}

/*11 section /end*/

/*12 section*/
#restaurants-slider .card {
    height: 425px;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    cursor: pointer;
}
#restaurants-slider .card img {
    height: 100%;
}
#restaurants-slider .card .back{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	background-color: aliceblue;
}
#restaurants-slider .card .back h3 {
	text-align: center;
}
#restaurants-slider .card .back h3 span {
	display:block;
}
/*12 section /end*/

footer {
    background: url("../img/back-footer.png") center bottom no-repeat;
    margin-top: 100px;
}
footer h1{
    font-size: 50px;
}
footer form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cccccc;
}
footer form input::-moz-placeholder { /* Firefox 19+ */
    color: #cccccc;
}
footer form input:-ms-input-placeholder { /* IE 10+ */
    color: #cccccc;
}
footer form input:-moz-placeholder { /* Firefox 18- */
    color: #cccccc;
} {

}
footer form input {
    display: block;
    width: 100%;
    height: 53px;
    color: #333;
    border: 1px solid #ecedee;;
    font-size: 13px;
    padding: 8px 15px;
    margin-top: 20px;

}
footer form input[type="submit"] {
    border-color: #fff;
    color: #fff;
    height: 43px;
    width: 200px;
    background: #0060ae;
    border-radius: 4px;

}
.footer-text {
    margin: 20px auto;
    padding-top: 65px;
    font-size: 17px;
    color: white;
}
.footer-text p {
    line-height: 1;
}
#section-4:before {
	content: '';
    background-image: url(../img/baccker-lr.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 134px;
    position: absolute;
    left: 0;
    top: 0;
}
#section-4:after {
	content: '';
    background-image: url(../img/baccker-rl.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 134px;
    position: absolute;
    right: 0;
    top: 0;
}
#section-6:before {
	content: '';
    background-image: url(../img/baccker-180-rl.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 190px;
    position: absolute;
    left: 0;
    top: 0;
}
#section-6:after {
	content: '';
    background-image: url(../img/baccker-180-lr.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 190px;
    position: absolute;
    right: 0;
    top: 0;
}
#section-8 {
    background-image: url(../img/baccker-l.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
#section-9 {
    background-image: url(../img/baccker-r.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
#section-11 {
    background-image: url(../img/baccker-l.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
}